h1 {
  font-weight: 600;
  opacity: 70%;
}
h3 {
  font-weight: 600;
}
p {
  opacity: 50%;
  font-weight: 500;
}

footer {
  font-size: 1rem;
  font-weight: 600;
  color: var(--Very-dark-grayish-blue);
  white-space: nowrap;
}
a {
  color: var(--Very-dark-grayish-blue);
  margin-left: 0.5rem;
}
